@media (max-width: 600px) {

  #profile-pic {
    width: 150px;
    height: 200px;
    border: 1px solid black;
  }
  
  header {
    width: 75%;
    grid-template-columns: 20% 70%;
    border: 1px solid black;
  } 

}